.jumbotron {
    background-color: #41C6B1;
}

.modal-footer {
    justify-content:space-between !important;
}

#AGDLogo {
    width: 40%;
    height: auto;
    padding: 0;
    margin: 0;
    border: 0;
}

.subtitle {
    color: #FCFDD1
}

.get-started {
    border-radius: 60%;
    padding: 20px;
}